<section class="section-header">
	<span class="large-caps-left">IF YOU<br>ENJOY</span>
	<span class="script-lrg">{{ basewine.name }}</span>
	<span class="large-caps-right">YOU MIGHT<br>ALSO LIKE...</span>
</section>

<section class="search-results">
  <div class="result-container" data-ng-repeat="wine in wines">
    <div class="left-col-container">
      <div class="wine" data-ng-include="'views/wine_template.htm'"
  		  data-ng-data="{{ wine }}" data-ng-click="viewDetails(wine)">
  		  <!-- TEMPLATE -->
  	   </div>
    </div>
    <div class="right-col-container">
      <div class="review-container" data-ng-repeat="review in wine.reviews | limitTo:3"
    	  data-ng-include="'views/review_template.htm'">
          <!-- TEMPLATE -->
      </div>
    </div>
  </div>
</section>

<section id="winedetails-container" data-ng-show="wid > 0">
  <div id="winedetails-inner-container" data-ng-include="'views/winedetails.htm'">
    <!-- TEMPLATE -->
  </div>
</section>