<div class="winedetails-row-container">
  <div class="wine-info-container">
    <div class="wine-bottle-container">
        <img class="winebottle" src="img/wine_bottle.svg">
    </div>
    
    <div class="wine-info-left">
      <div class="winename">
        {{ wines[wid-1].name }}
      </div>
      <div class="winecountry">
        {{ wines[wid-1].country || "Unknown" }}
      </div>
      <div class="wineprice-l">
        <span class="fieldname">Price</span>
        {{ wines[wid-1].priceLow == wines[wid-1].priceHigh ? 
        (wines[wid-1].priceLow == 0 ? "Unknown" : "$" + wines[wid-1].priceLow) : 
        ("$" + wines[wid-1].priceLow + " - $" + wines[wid-1].priceHigh) }}
      </div>    
    </div>
    
    <div class="wine-info-right no-grow">
      <div id="winedetails-close">
        <img class="cancel" src="img/cancel.svg" data-ng-click="viewDetails(0)">
      </div>
      <div class="similar-wine-button-container">
        <div class="similar-wine-button" data-ng-data="{{wid}}" data-ng-click="findSimilarWines(wid)">Find Similar Wines</div>
      </div>
    </div>
  </div>
</div>

<div class="section-title">Reviews</div>

<div class="section-details">
  <b>Avg. Rating:&nbsp;</b> {{ wines[wid-1].avgRating }}
</div>

<div class="winedetails-review-container">
  <div class="review-container" data-ng-repeat="review in wines[wid-1].reviews" data-ng-include="'views/review_template.htm'">
    <!-- TEMPLATE -->
  </div>
</div>
