/* FONTS
   .eot       --> IE9
   .eot#iefix --> IE6-IE8
   .woff2     --> Latest browsers
   .woff	  --> Fairly recent browsers
   .ttf       --> Safari, Android, iOS
   .svg       --> Legacy iOS
*/

@font-face{
	font-family: "DancingScript-Bold";
	src: url('fonts/dancingscript-bold.eot');
	src: url('fonts/dancingscript-bold.eot#iefix') format('embedded-opentype'),
		url('fonts/dancingscript-bold.woff') format('woff'),
	    url('fonts/dancingscript-bold.woff2') format('woff2'),
	    url('fonts/dancingscript-bold.ttf') format('truetype'),
	    url('.svg#dancingscript_bold') format('svg')
}

@font-face{
	font-family: "DancingScript-Regular";
	src: url('dancingscript-regular.eot');
	src: url('fonts/dancingscript-regular.eot#iefix') format('embedded-opentype'),
		url('fonts/dancingscript-regular.woff') format('woff'),
	    url('fonts/dancingscript-regular.woff2') format('woff2'),
	    url('fonts/dancingscript-regular.ttf') format('truetype'),
	    url('.svg#dancingscript_regular') format('svg')
}

@font-face{
	font-family: "Lato-Bold";
	src: url('fonts/lato-bold.eot');
	src: url('fonts/lato-bold.eot#iefix') format('embedded-opentype'),
		url('fonts/lato-bold.woff') format('woff'),
	    url('fonts/lato-bold.woff2') format('woff2'),
	    url('fonts/lato-bold.ttf') format('truetype'),
	    url('.svg#lato_bold') format('svg')
}

@font-face{
	font-family: "Lato-Heavy";
	src: url('fonts/lato-heavy.eot');
	src: url('fonts/lato-heavy.eot#iefix') format('embedded-opentype'),
		url('fonts/lato-heavy.woff') format('woff'),
	    url('fonts/lato-heavy.woff2') format('woff2'),
	    url('fonts/lato-heavy.ttf') format('truetype'),
	    url('.svg#lato_heavy') format('svg')
}

@font-face{
	font-family: "Lato-Regular";
	src: url('fonts/lato-regular.eot');
	src: url('fonts/lato-regular.eot#iefix') format('embedded-opentype'),
		url('fonts/lato-regular.woff') format('woff'),
	    url('fonts/lato-regular.woff2') format('woff2'),
	    url('fonts/lato-regular.ttf') format('truetype'),
	    url('.svg#lato_regular') format('svg')
}

@font-face{
	font-family: "Lato-Semibold";
	src: url('fonts/lato-semibold.eot');
	src: url('fonts/lato-semibold.eot#iefix') format('embedded-opentype'),
		url('fonts/lato-semibold.woff') format('woff'),
	    url('fonts/lato-semibold.woff2') format('woff2'),
	    url('fonts/lato-semibold.ttf') format('truetype'),
	    url('.svg#lato_semibold') format('svg')
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: "Lato-Regular";
	font-size: 1em;
}

body {
	min-width: 25em;
	padding: 2em 8em;
	background-color: #fbfbfb;
	color: #19171c;
	display: flex;
	flex-flow: column nowrap;
}

b {
	font-family: "Lato-Bold";
}

::-webkit-scrollbar {
	width: 3em;
	height: 1em;
}

::-webkit-scrollbar-thumb {
    height: 1em;
    border-left: 2em solid rgba(0, 0, 0, 0);
    border-right: 0.5em solid rgba(0,0,0,0);
    border-top: 0.5em solid rgba(0,0,0,0);
    border-bottom: 0.5em solid rgba(0,0,0,0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

button {
	margin: 0 1em;
	padding: 0.25em;
	width: 6em;
	background-color: #eee;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
}

button:hover:enabled{
	cursor:pointer;
	background-color: #e7e7e7;
}

label, #filter-label {
	margin-right: 0.5em;
	font-family: "Lato-Bold";
}

.filter-option-container label {
	display: inline-block;
	min-width: 6em;
}

.filter-option-container select {
	display: inline-block;
	width: 8em !important;
}

.filter-option-container input {
	display: inline-block;
	width: 8em !important;
}

select, input {
	height: 2.5em;
	border-radius: 3px;
	border: 1px solid #eee;
	padding: 0.5em;
	background-color: #fefefe;
	overflow: auto;
}

header {
	margin: 0 0 4em 0;
}

header > #logo {
	margin: 0 1em;
	width: 25em;
}

#filter-sort-container {
	font-size: 0.8em;
	padding: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#filter-menu-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
}

#filter-menu-toggle {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

#filter-menu-toggle:hover {
  cursor: pointer;
}

#filter-icon {
  margin-right: 0.5em;
  height: 1em;
  fill: black;
}

#filter-menu-dropdown {
  margin-top: 2.5em;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 1em 1.5em;
  background-color: #fefefe;
  display: none;
  z-index: 1;
  position: absolute;
}

.filter-option-container {
	margin: 0.5em 0;
}


#filter-menu-close {
	font-family: 'Lato-Semibold';
	line-height: 2em;
	vertical-align: middle;
	text-align: center;
	height: 2em;
	background-color: #c7c7ed;
}

#filter-menu-close:hover {
	background-color: #babadf;
	cursor: pointer;
}

#res-per-page-container {
	display: flex;
	align-items: center;
}

.paginate {
	padding: 1em;
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#winelist {
	display: inline-flex;
	flex-flow: column nowrap;
}

#sort-container {
  	display: flex;
  	align-items: center;
}

#wine-container {
	min-width: 27em;
  	display: inline-flex;
  	flex-flow: row wrap;
  	justify-content: space-evenly;
  	align-items: flex-start;
  	cursor: pointer;
}

#winedetails-container {
	margin: 0;
	border: 8em solid rgba(255,255,255, 0.8);
	padding: 0;
	height: calc(100vh - 16em);
	width: calc(100vw - 16em);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#winedetails-inner-container {
	width:  calc(100vw - 16em - 2px);
	height: calc(100vh - 16em - 2px);
	border: 1px solid #ccc;
	background-color: #e7e7e7;
	display: flex;
	flex-flow: column nowrap;
}

#winedetails-close {
	cursor: pointer;
}

.cancel {
	fill: #ccc;
}

.winedetails-row-container {
	display:flex;
	flex-flow: row nowrap;
	padding: 1em;
	flex-shrink: 0;
}

.wine {
  	background-color: #e7e7e7;
  	margin: 1em;
  	padding: 1em;
  	display: flex;
  	flex-flow: row nowrap;
  	justify-content: space-between;
  	flex: 1 0 25em;
}

.wine-bottle-container {
	margin-right: 0.75em;
	justify-content: flex-start;
	flex-grow: 0;
}


.wine-info-container {
	flex-grow: 1;
	display: flex;
	flex-flow: row nowrap;
}

.wine-info-left {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	flex-grow: 2;
}

.wine-info-right {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-end;
	flex: 1 0 5em;
}

.no-grow {
	padding-right: 1em;
	flex-grow: 0;
}

.winebottle {
  	height: 6em;
}

.fieldname {
	font-family: "Lato-Heavy";
	display: block;
}

.winename {
  	font-family: "DancingScript-Bold";
  	font-size: 1.5em;
}

.winerating {
  	text-align: right;
  	font-size: 0.8em;
}

.winecountry {
	margin-top: 0.5em;
	font-family: "Lato-Semibold";
	font-size: 0.8em;
}

.wineprice-l {
	text-align: left;
	margin-top: 0.5em;
	font-size: 0.8em;
}

.wineprice {
  	text-align: right;
  	font-size: 0.8em;
}

/*Wine detail styles*/
.winedetails {
	box-sizing: border box;
	display:flex;
	flex-wrap: wrap;
}

#winedetail-header {
	background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    width:  calc(100vw - 16em - 5px);
    align: center;
    padding:50px;
    margin:20px;
}

#similar-wine-button-container {
	margin: 1em 0.5em 0 0;
}

button#similar-wine-button{
	font-family: "Lato-Semibold";
	font-size: 0.8em;
	margin: 0;
	background-color: #babad0;
	border: 1px solid #8282bf;
	padding: 0.5em;
	width: 12em;
}

button#similar-wine-button:hover{
	background-color: #a0a0bd;
}

.section-title {
	margin: 0.5em 1.25em;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	padding: 0.5em;
	text-align: center;
	font-family: "DancingScript-Bold";
	font-size: 1.75em;
}

.section-details {
	margin: 0 2em;
	padding: 0 0.5em;
	display: flex;
	flex-flow: row nowrap;
	font-size: 0.9em;
}

.winedetails-review-container {
	margin: 1.25em 2.25em 1em 2.25em;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.review-container {
	border: 1px solid #d7d7d7;
	margin-bottom: 1.5em;
}

.review-header {
	background-color: #d7d7d7;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.review-title {
	font-family: "Lato-Semibold";
	padding: 0.25em;
}

.review-price {
	padding-right: 1em;
	font-size: 0.8em
}

.review-details-container {
	background-color: #f7f7f7;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
}

.review-details-left {
	margin-right: 3em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	flex-shrink: 0;
}

.reviewer-container {
	display: flex;
	flex-direction: row nowrap;
	align-items: center;
	margin-bottom: 1em;
}

.review-rating {
	width: 3em;
	height: 3em;
	margin-right: 0.5em;
	background-color: #a0a0bd;
	font-family: "Lato-Bold";
	display: flex;
	align-items: center;
	justify-content: center;
}

.review-author {
	font-size: 0.9em;
}

.tiny {
	font-size: 0.6em;
}

.review-location {
	display: flex;
	flex-flow: column nowrap;
	font-size: 0.9em;
}

.review-content {
	font-size: 0.9em;
	flex-grow: 1;
}

#reviews {
	background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    width: 100%;
    align: center;
    padding:50px;
    margin:20px;

	}

.title{
	text-align: center;
}


/* SMALLER SCREEN SIZES */
@media only screen and (max-width: 600px){
	header {
		margin: 0 0 2em 0;
	}
	body {
		padding: 2em 0.5em;
	}
	.wine {
		margin: 0.5em;
		padding: 0.5em;
	}
}