<html>
<head>
	<meta charset="utf-8">
	<title>WineVault</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<header>
	<img id="logo" src="img/logo.svg">
</header>

<section id="winelist" data-ng-app="index" data-ng-controller="indexCtrl">
	<section id="filter-sort-container">
		<div id="filter-menu-container">
			<div id="filter-menu-toggle">
				<img id="filter-icon" src="img/filter-solid.svg">
				<div id="filter-label">Filter Results</div>
			</div>
		</div>
		<div id="sort-container">
			<label for="sortfilter">Sort by</label>
			<select id="sortfilter"
			        data-ng-model="sortby" 
			        data-ng-init="sortby = sortOptions[0]"
			        data-ng-options="option.name for option in sortOptions">
			</select>
		</div>
		<div id="filter-menu-dropdown">
			<div class="filter-option-container">
				<label for="country-filter">Country</label>
				<select id="country-filter"
						data-ng-model="countryf"
						data-ng-init="countryf = countryOptions[0]"
						data-ng-options="option.name for option in countryOptions">
				</select>
			</div>
			<div class="filter-option-container">
				<label for="rating-min">Min Rating</label>
				<input id="rating-min"
						data-ng-model="minRating" 
						type="number" min="0" max="{{maxRating}}"
						placeholder="{{minAvgR}}">
			</div>
			<div class="filter-option-container">
				<label for="rating-max">Max Rating</label>
				<input id="rating-max"
					data-ng-model="maxRating"
					type="number" min="{{minRating}}" max="100"
					placeholder="{{maxAvgR}}">
			</div>
			<div id="filter-menu-close">
				Apply and Close
			</div>
		</div>
	</section>
	<section id="wine-container">
		<div class="wine" data-ng-repeat="wine in wines | orderBy:[sortby.value,'name'] | filter:{country:countryf.value} | ratingFilter:minRating:maxRating">
			<div class="wine-bottle-container">
				<img class="winebottle" src="img/wine_bottle.svg">
			</div>
			<div class="wine-info-container">
				<div class="wine-info-left">
					<div class="winename">
						{{ wine.name }}
					</div>
					<div class="winecountry">
						{{ wine.country || "Unknown" }}
					</div>
				</div>
				<div class="wine-info-right">
					<div class="winerating">
						<span class="fieldname">Avg. Rating</br></span>
						{{ wine.avgRating }}
					</div>
					<div class="wineprice">
						<span class="fieldname">Price</br></span>
						{{ wine.priceLow == wine.priceHigh ? 
						(wine.priceLow == 0 ? "Unknown" : "$" + wine.priceLow) : 
						("$" + wine.priceLow + " - $" + wine.priceHigh) }}
					</div>
				</div>
			</div>
		</div>
	</section>
</section>


<script src="lib/angular/angular.js"></script>
<script src="js/controller.js"></script>
<script src="js/filtermenu.js"></script>


</body>
</html>